sudo: required

services:
    - docker

before_install:
    - docker build -t lincwest/docker-react -f Dockerfile.dev .

script:
    - docker run lincwest/docker-react npm run test

after_success:
    - npm run coverage